@inherits LayoutComponentBase
@layout MainLayout

<div>
    <div class="mb-4">
        <NavLink href="attendance"><button type="button" class="btn btn-primary">View Attendance</button></NavLink>
    </div>
    @Body
</div>
