@inherits LayoutComponentBase
@layout MainLayout

<div>
    <div>
        <NavLink href="eventcards">List Events</NavLink>
        <NavLink href="eventcards/register">Register New Event</NavLink>
    </div>
    @Body
</div>
