@page "/attendance/list/{id:int}"
@layout AttendanceLayout

@using EventEaseApp.Services
@using EventEaseApp.Components
@using EventEaseApp.Models

@inject AttendanceService AttendanceService
@inject NavigationManager NavManager
@inject ILogger<List> Logger

<h3>List participants</h3>

@if(SelectedEventAttenderList==null)
{
    <Loading/>
}
else if(SelectedEventAttenderList.Count==0)
{
    <p>No attenders on the event right now.</p>
}
else
{
    <h4>Total number of participants: @SelectedEventAttenderList.Count</h4>
    <div class="container">
        <div class="row">
            <div class="col">
                <b>Name:</b>
            </div>
            <div class="col">
                <b>Email:</b>
            </div>
        </div>
        @foreach(var attender in SelectedEventAttenderList)
        {
            <div class="row">
                <div class="col">
                    @attender.Name
                </div>
                <div class="col">
                    @attender.Email
                </div>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public int Id {get; set;}

    private List<Attender> SelectedEventAttenderList {get; set;}

    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation("Fetching list from service.");
        SelectedEventAttenderList = await AttendanceService.GetListAttenderByEventId(Id);
        Logger.LogInformation("List loaded.");
    }
}
